<h1>Add Students</h1>
<form action="/add-user" method="POST">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Name" required />

  <label>Email:</label>
  <input type="email" name="email" placeholder="Email" required />

  <label>Age:</label>
  <input type="number" name="age" placeholder="Age" />

  <button type="submit">Add Student</button>
</form>
